{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <a class="front_login_button" href="/login">Войти</a>
    <a class="front_register_button" href="/register">Зарегистрироваться</a>
</div>

{% endblock %}