{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container" style="text-align: center;">
    {% for image in images %}
        <div class="container">
            {# <img src='{{ "/uploads/" ~ image.getFileUrl() }}' alt=""> #}
            <img src='{{ asset("uploads/" ~ image.getFileUrl()) }}' alt="">
        </div>
    {% endfor %}
</div>
{% endblock %}