.add_logout{
    display: flex;
    justify-content: space-between;
}

.front_button {
    display: inline-block;
    background: #8C959D; 
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 3px; 
}
.front_login_button {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
.front_register_button {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}

.feed_img {
    width: 100%;
    height: auto;
}

.avatar_nickname{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}